* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: calibri;
    list-style-type: none;
    color: #3c3c3c;
}

.popop-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff80;
}

    .popop-overlay .modal-box {
        width: 385px;
        box-shadow: 0 0 5px #d6d6d6;
        background: #fff;
        padding: 15px;
        position: relative;
        border-radius: 5px;
    }

.popup-close {
    position: absolute;
    top: -20px;
    right: -15px;
    background: #ff4a75;
    padding: 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 32px;
    border: 3px solid #fff;
    box-shadow: 0 0 3px #3c3c3c;
    font-weight: 600;
    cursor: pointer;
}

    .popup-close:hover {
        background: #bdbdbd;
    }

.popop-overlay .modal-box p {
    line-height: 24px;
    font-size: 16px;
    margin-top: 9px;
}

.popup-button {
    background: #ff4a75;
    font-size: 16px;
    color: #fff;
    padding: 5px 21px;
    width: auto;
    border: 0;
    border-radius: 4px;
}

    .popup-button:hover {
        background: #ffcad7;
        cursor: pointer;
        color: #000000;
    }

.popup-footer {
    text-align: right;
    margin-top: 13px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 14px;
}
