@charset "UTF-8";
/************************
*****ADDITION BLOCK******
*************************/
.mathSection {
    font-family: verdana, arial, sans-serif;
}

.mathSection .mathBlock {

}

.mathSection .mathBlock .subNumericTable {
    border-spacing: 4px 10px;
    display: block;
	margin: 0 auto;
	width: 430px;
}

.mathSection .mathBlock .subNumericTable tr {
    background-color: #E3E3E3;
    text-align: center;
}

.mathSection .mathBlock .subNumericTable tr td {
    background-color: #E3E3E3;
    text-align: center;
    padding: 0;
    font-size: 24px;
    min-width: 30px;
    height: 45px;
}

.mathSection .mathBlock .subNumericTable .sub.appendBlock td:first-child .appendCol::before {
    content: "—" !important;
    color: #000;
    position: absolute;
    right: 40px;
    top: -30px;
}

.subNumericTable input[type="text"] {
    width: 20px;
    color: #222;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    padding: 2px;
    border: 0;
    background-color: #e3e3e3;
    border-bottom: 1px dotted #4caafe; 
}


.mathSection .mathBlock .subNumericTable .appendBlock {
    position: relative;
}

.mathSection .mathBlock .subNumericTable .appendBlock td {
    position: relative;
    background-color: #fff;
    height: 10px;
}

.mathSection .mathBlock .subNumericTable .appendBlock td .appendCol {
    position: absolute !important;
    margin-top: -22px !important;
    border: 1px solid #fff;
    font-size: 22px;
    left: 7px;
    background-color: #E3E3E3;
    height: 28px;
    width: 20px;
}

.mathSection .mathBlock .subNumericTable .appendBlock td .bg-color {
    background-color: #FFCC66 !important;
    cursor: pointer;
}
    .editMode td {
    cursor: default !important;
}
.editMode .appendCol {
    cursor: default !important;
}

.editInput {
    background-color: transparent !important;
}

.appendBlock .editInput {
    font-size: 18px !important;
    padding: 6px 0 0 0!Important;
}

.mathSection .mathBlock .subNumericTable tr.rowBorder td {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 2px solid #000;
    height: 0;
}

.mathSection .mathBlock .subNumericTable tr.DoubleUnderlinedBorder td {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #000; 
    height: 5px !important;
    border-bottom: 2px solid #000;
    opacity: 0.5;
    background-color: #fff !important;
}

.mathSection .mathBlock .subNumericTable .result td.bg-color {
    background-color: #FFCC66 !important;
    cursor: pointer;
}

.mathSection .smallPopUp {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: auto;
    z-index: 2;
}

.mathSection .smallPopUp .smallPopUpBlock {
    padding: 5px 3px;
    border: 5px solid #A4A4A4;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: auto;
    width: auto;
    display:table;
}

.smallPopUpBlock .closeIcon {
    right: -14px !important;
}

.mathSection .smallPopUp .smallPopUpBlock::before {
    margin: 13px 0 0 -25px;
    content: '';
    position: absolute;
    left: 16px;
    bottom: 14px;
    width: 20px;
    height: 20px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A4A4A4), color-stop(1, #D8D8D8));
    box-shadow: 0px 3px 8px #999;
    background: inherit;
    transform: rotate(135deg);
    box-shadow: inset -10px -10px 0px -5px #A4A4A4;
}

.mathSection button {
    font-size: 16px;
    font-family: verdana, arial, sans-serif;
    border: 2px solid #ffffff;
    cursor: pointer;
    color: #424242;
    float: left;
    width: 30px;
    position: relative;
    z-index: 1;
    margin: 2px;
    height: 30px;
    background: -o-linear-gradient(top, #A4A4A4, #D8D8D8);
    background: -moz-linear-gradient(top, #A4A4A4, #D8D8D8);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A4A4A4), color-stop(1, #D8D8D8));
    filter: progid:DXImageTransform.Microsoft.gradient(Enabled='true',StartColorStr=#A4A4A4,EndColorStr=#D8D8D8,GradientType=0);
    -webkit-box-shadow: 0px 3px 8px #999;
    -moz-box-shadow: 0px 3px 8px #999;
    box-shadow: 0px 3px 8px #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 2;
}

.mathSection button:focus {
    outline: none;
}

.numberRow {
    display: table-row;
}

.numberRow button {
    display: table-cell;

}

.mathSection .popUp {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: auto;
    z-index: 2;
}

.mathSection .popUp .popUpBlock {
    padding: 5px 3px;
    border: 5px solid #A4A4A4;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: table;
    margin: 0 auto;
    width: auto;
    z-index: 3;
}

.mathSection .popUp .popUpBlock::before {
    margin: 13px 0 0 -25px;
    content: '';
    position: absolute;
    left: 16px;
    bottom: 30px;
    width: 20px;
    height: 20px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A4A4A4), color-stop(1, #D8D8D8));
    box-shadow: 0px 3px 8px #999;
    background: inherit;
    transform: rotate(135deg);
    box-shadow: inset -10px -10px 0px -5px #A4A4A4;
}

.closeIcon {
    display: block;
    background: url("Images/close.png") no-repeat;
    position: absolute;
    height: 30px;
    z-index: 5;
    width: 30px;
    right:-24px;
    top: -13px;
}


